body {
	font-family: 'Arimo', Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-color:red;
	margin: 10px;
}

* {
	box-sizing: border-box;
}

.checked {
	color: #d81a24;
}

/* .embed-responsive .card-img-top {
	object-fit: cover;
} */

.card-img-top {
	width: 100%;
	height: 70vh;
	/* object-fit: fill; */
}

.card-body {
	padding-bottom: 10px;
}

.about-picture {
	position: relative;
}
.fa-star{
	color:blue;
}
/* imdb */
.fa-imdb {
	color: rgb(247, 247, 0);
}

.imdbscore {
	color: black;
	font-size: 20px;
	font-weight: 500;
	font-family: Arial;
}



